/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2015, 3:25:45 PM
    Author     : INTEL
*/

/*******************
FONTS
*******************/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*******************
SELECTION STYLING
*******************/

::selection {
    color: #345678;
    background: #ed785c; /* Safari */
}
::-moz-selection {
    color: #345678;
    background: #ed785c; /* Firefox */
}

/*******************
BODY STYLING
*******************/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background:url(../images/bg.png) repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-decoration: none;
}

#wrapper {
    /* Center wrapper perfectly */
    width: 300px;
    height: 400px;
    position: absolute;
}

.left {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    color: #414848;
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.right {
    color:yellow;
    width: 80px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.header {
    /* Center wrapper perfectly */
    width: 1000px;
    height: 60px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #d4dedf;

}

.header .right .logout .button {
    float: right;
    padding: 11px 25px;

    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.header .right .logout .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256,256,256,0.75);

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.header .right .logout .button:focus {
    position: relative;
    bottom: -1px;

    background: #56c2e1;

    box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

.button, .bar-userid, .bar-username, .bar-password, .bar-firstname, .bar-lastname, .bar-birthdate, .bar-accbank, .bar-salary{
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.bar-userid, .bar-username, .bar-password, .bar-firstname, .bar-lastname, .bar-birthdate, .bar-accbank, .bar-salary{
    width: 100px;
    height: 47px;
    display: block;
    position: absolute;
    left: 0px;
    padding-right: 2px;
    z-index: 3;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.bar-userid {
    top:150px;	
}

.bar-username {
    top:202px;
}

.bar-password {
	top:255px;
}

.bar-firstname {
	top:308px;
}

.bar-lastname {
	top:361px;
}

.bar-birthdate {
	top:414px;
}

.bar-accbank {
	top:467px;
}

.bar-salary {
	top:520px;
}

.bar-userid, .bar-username, .bar-password, .bar-firstname, .bar-lastname, .bar-birthdate, .bar-accbank, .bar-salary{
	height:35px;
	margin-left:330px;
	background: rgba(65,72,72,0.75);
}

.bar-userid p, .bar-username p, .bar-password p, .bar-firstname p, .bar-lastname p, .bar-birthdate p, .bar-accbank p, .bar-salary p {
	font-family: 'Bree Serif', serif;
	color:white;
	margin-top:5px;
	margin-left:10px;
}

.content {
    width: 300px;
	height: 510px;
    margin: 0 auto;
    margin-top: 30px;
	left:110%;
    position: relative;
    z-index:5;
	padding: 20px 30px 30px 30px;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.content .member {
    padding: 25px 30px 25px 30px;
}

.content .member .input {
    width: 188px;
    padding: 10px 25px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.content .member .username, .content .member .password, .content .member .firstname, .content .member .lastname, .content .member .birthdate, .content .member .accbank, .content .member .salary{
	margin-top:15px;
}

.content .member .button {
    padding: 11px 25px;
	left: 50%;
    top: 50%;
    margin-left: 70px;
    margin-top: 30px;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.content .member .button:hover{
	 background: #3f9db8;
    border: 1px solid rgba(256,256,256,0.75);

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.content .member .button:focus{
    position: static;
    bottom: -1px;

    background: #56c2e1;

    box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}